<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pcclient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <pcclient.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RenmeiHost" serializeAs="String">
                <value>http://113.11.200.98:3389/</value>
            </setting>
            <setting name="LastUpdated" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>RenmeiClient</value>
            </setting>
            <setting name="Logfile" serializeAs="String">
                <value>RenmeiClient.log</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationDisplayTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PersistLogin" serializeAs="String">
                <value>True</value>
            </setting>
        </pcclient.Properties.Settings>
    </userSettings>
    <!--
    <log4net>
        <logger name="pcclent.Logging">
          <level value="DEBUG"/>
        </logger>
        <root>
          <level value="INFO"/>
          <appender-ref ref="LogFileAppender"/>
        </root>
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
          <param name="File" value="pcclentlog.log"/>
          <param name="AppendToFile" value="true"/>
          <layout type="log4net.Layout.PatternLayout">
            <param name="Header" value="[Header]\r\n"/>
            <param name="Footer" value="[Footer]\r\n"/>
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
          </layout>
        </appender>
    </log4net>
    -->
</configuration>